@charset "utf-8";
/* CSS Document */

.mywork {
	text-align:center;
	margin:0px;
}
.cal { 
	position:relative; 
	padding:0px 100px 0px 100px; 
	margin:auto; 
	font-size: 18px;
	align: center;
}
input[type=button]{
	width:25px;
	height:25px;
}
#result { 
	margin-bottom:5px;
	width:125px;
	height: 20px;
	font-size:16px;
	font-family: Tahoma;
	color:#0CF;
	text-align:right;
}
.keyboard{ margin:0px auto; width:100%}
.keyboard li { 
	list-style-type: none; 
	margin: 0px;
}
.button { 
	border-radius:10x; 
	width:200px; 
	height:200px; 
	background-color:#CCC;
}
ul li {list-style:none; margin:0px auto;}
.numberkey{font:14px Tahoma ;}

