@charset "utf-8";
/* CSS Document */
.mywork {
	border: solid #666 1px;
	padding: 50px;
	margin:auto;
	
}
. cal { 
	position:relative; 
	padding:0px 100px 0px 100px; 
	margin:auto; 
	font-size: 18px;
	align: center;
}
input[type=button]{
	width:25px;
	height:25px;
}
#result { 
	margin-bottom:5px;
	width:125px;
	height: 20px;
	font-size:16px;
	color:#0CF;
	text-align:right;
}
.keyboard li { 
	list-style-type: none; 
	margin: 0px;
}
.button { 
	border-radius:10x; 
	width:200px; 
	height:200px; 
	background-color:#CCC;
}

